@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    body {
        color: #78909c;
        font-family: 'Montserrat', sans-serif;
        background-color: #0f1416;
    }
}
@layer components {
    .header-title {
        background: linear-gradient(81.43deg, #b71c1c -26.81%, #8e1438 87.89%);
    }
}
